/*Menu*/

a{
  color: white;
}

a:visited {
  color: white;
}

a:link
{
    text-decoration: none;
    color: white;
}
a:hover 
{
    text-decoration: none;  
	  color:#FFFFFF;
    font-weight: bold;
}

li{
  list-style-type: none;
}

/*Banners*/
.banner-home
{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../images/fundo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner-lg
{
    min-height: calc(100vh - 86px);    
}

.banner-vader
{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/vader.jpg');
    background-position: top;
    height: 500px;
    width: 100%;
}

.banner-chefao
{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../images/chefao.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.info-texto
{
    text-align: left;
}

/*Página Home*/

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }

  .menu , .media-body, .nav-item{
    background: #1C1C1C;
  }

  .m-0{
    color: #FFFFFF;
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
  
  body {
    background: #1C1C1C;
    min-height: 100vh;
    overflow-x: hidden;
  }  

  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #ffffff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  


  body{
    margin-top:20px;
    background: #1c1c1c;
}

.img-sm {
    width: 46px;
    height: 46px;
}
.page-content{
  border: #FFFFFF;
}

.form-control{
  background-color: #1C1C1C;
}
.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel .panel-footer, .panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-body {
    padding: 25px 20px;
}


.media-block .media-left {
    display: block;
    float: left
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle
}

.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9
}

.tag.tag-sm, .btn-group-sm>.tag {
    padding: 5px 10px;
}

.tag:not(.label) {
    background-color: #1c1c1c;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .15s;
    transition: all .15s;
}
.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #FFFFFF;
}

p{
  color: #ffffff
}

.text-sm {
    font-size: 0.9em;
}

.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
    line-height: 1.25;
}

.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
    padding: 5px 10px !important;
}

.mar-top {
    margin-top: 15px;
}
.footer 
{
	bottom: 0;
	width: 100%;
	height: 40px; /* Estabelece altura fixa do footer */
	line-height: 40px; /* Centraliza o texto verticalmente */
	background-color: #1C1C1C;
	text-align: center;
	font-size: 15px;
    color: white;
}

.box_filmes{
  display: flex;
  width: 150%;
  height: 100%;
  flex-direction: row;
}

.upload_capa{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  flex-flow: row wrap;
  padding: 2%;
}

.filmes_split{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  flex-flow: row wrap;
}

.section_filmes{
width: 80%;
}

.upload_capa_series{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  flex-flow: row wrap;
  padding: 2%;
}

.series_split{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  flex-flow: row wrap;
}

.section_series{
  width: 80%;
  }
  
  
  .preview-img{
    width: 400px;
    height: 500px;
  }
  
.fileUpload {
  position: relative; 
  overflow: hidden; 
  margin: 10px; 
  background-color: #343a40;
  color: white;
  border-radius: 8px;
  width: 150px;
  height: 35px;
  text-align: center;
  left: 25%;
}

.fileUpload:hover{
  border: 2px solid darkgray;
}

.fileUpload input.upload { 
  position: absolute; 
  top: 0; 
  right: 0; 
  margin: 0; 
  padding: 0; 
  font-size: 100px; 
  cursor: pointer; 
  filter: alpha(opacity=0); 
  display: hidden;
}

.lista_filmes{
  width: 100%;
  padding: 10px; 
}

.filmes{
display: flex;
width: 100%;
height: 80%;
text-align: center;
align-items: center;
padding: 10px;
}

.filmes img{
  display: flex;
  width: 20%;
  height: 20%;
}


.filmes p{
  display: flex;
  font-size: 15px;
  width: 50%;
  text-align: justify;
}

.filmes a{
  display: flex;
  font-size: 15px;
  font-weight: bold;
  width: 50%;
  text-align: justify;
}

.filmes h2{
  display: flex;
}

.linha{
  width: 100%;
  background-color: white;
  height: 1px;
}


.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  width: auto;
  white-space:normal;
}
.imageDiv img {
  box-shadow: 1px 1px 10px #999;
  margin: 2px;
  max-height: 50px;
  cursor: pointer;
  display:inline-block;
  *display:inline;/* For IE7*/
  *zoom:1;/* For IE7*/
  vertical-align:top;
}

.flex{
  display: flex;
}

.menu_perfil{
  width: 100%;
  height: 100%;
}

.clmns_perfil{
  display: flex;
  flex-flow: row;
  width: 50%;
}








@media(max-width:1200px) {

.box_filmes{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
  
  .filmes_split{
    width: 100%;
  }

  .upload_capa{
    width: 100%;
  }

  .section_filmes{
    width: 60%;
    }
}